<ion-view title="收入排名" ng-model="UserListCtrl">
    <ion-nav-bar class="bar-energized nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear"><i class="icon ion-android-arrow-back"></i></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <ion-refresher pulling-text="往上拉刷新..."
                       on-refresh="doRefresh()" >
        </ion-refresher>
        <ion-list>
            <ion-item  ng-repeat="item in items">
                <span ng-class-odd="'span-number-odd'" ng-class-even="'span-number-even'" >{{$index+1}}</span>
                <span style="display:block;float:left;margin-left:20px;font-weight:bold">{{item.name}}</span>
                <span style="display:block;float:right;margin-right:20px;">{{item.achievement|number}}</span>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" icon="ion-load-d" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
